<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <title>
            {{#if title}}
            {{title}}
            {{else}}
            website.com
            {{/if}}
        </title>
        <script src="../public/client.js"></script>
    </head>

    <body>
        {{{body}}}    
    </body>
    
</html>