<div>

    <h2 class="text-center">Let's connect</h2>
    <small class="form-text text-muted text-center">I'm looking forward to working together</small><br>


    <div>
    {{!-- insert map? --}}
    <div>
        
    <div class="form">

    <form action="" method="POST">

        




         <div class="form-group">
        {{!-- <label for="username">Username</label><br> --}}
        <input type="text" name="name" class="form-control" id="name" placeholder="Your name">
        </div>
        <div class="form-group">
        {{!-- <label for="username">Password</label><br> --}}
        <input type="text" name="info" class="form-control" id="info" placeholder="How can we collaborate?">
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>

    </form>

    </div>


</div>
    