<div class="mt-4">

    <h2 class="text-center">Welcome back</h2>

    <div class="form">

    <form action="" method="POST">

       <div class="form-group">
        {{!-- <label for="name">Your name</label><br> --}}
        <input type="text" name="username" class="form-control" id="username" placeholder="Your username">
        </div>
        <div class="form-group">
        {{!-- <label for="username">Password</label><br> --}}
        <input type="password" name="password" class="form-control" id="password" placeholder="Password">
        </div>

        <button type="submit" class="btn btn-primary">Log in</button>

    </form>

    </div>

</div>
 