/* .navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    
    text-align: center;
    background-color: cornflowerblue;
    padding: 1em;
}

.navbar li a {
    float: right;
    display: inline;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    margin: 0;
    text-decoration: none;
    border: 1px solid black;
}

a:hover {
    color: black;
}

.main {
    margin-top: 500px;
}  */


.form {
    border: 1px solid lightgray;
    border-radius: 5px;
    margin: auto;
    padding: 20px;
    width: 50%;
    box-shadow: 0 5px 5px lightgray;
}

.manual-center {
    
}